{% extends "base.html" %}

{% block content %}
<p>Здравствуйте, меня зовут Филиппенко Никита и я создатель этого интернет-магазина. Я студент четвертого курса специальности "Информационных системы и программирование".</p>
<p>Данный проект был создан в результате заключительной дипломной деятельности и предназанчен для эксплуатации компанией ИП Сангаджиев А.А. магазин "Ачур".</p>
<p>При создании этого проекта мною былли применены все полученные в результате четырех лет упорного обучения знания, что помогло в создании качественного и надежного пользовательского интерфейса и функционала сайта.</p>
<p>Спасибо за внимание!</p>
{% endblock %} 